@import url(./assets/css/barra-navegacao.css);
@import url(./assets/css/cabecalho.css);
@import url(./assets/css/metrica.css);
@import url(./assets/css/talentos.css);
@import url(./assets/css/vagas.css);
@import url(./assets/css/depoimentos.css);
@import url(./assets/css/rodape.css);

/*Variaveis*/
:root {
    --branco-padrao: #ffffff;
    --branco-cinza: #F9FAFB;
    --branco-gelo: #E5E5E5;
    --cinza-claro: #667085;
    --cinza-escuro: #3A404E;
    --fonte-padrao: "Inter";
    --preto-padrao: #000000;
    --vermelho: #8E2424;
    --vermelho-claro: rgba(196, 25, 25, 0.03);
}

body {
    background-color: var(--branco-padrão);
    color: var(--cinza-fonte);
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    width: auto;
    height: auto;
}

